.mobile-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mobile{
    color: white;
    background-color: $dark-background;
    width: 700px;
    .tab{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h3 {
            margin: 0.7em 0.5em;
        }
    }
    .info-container{
       background-color: $grey-background;
       margin: 2em;
       border-radius: 0.3em;
       padding: 0.75em 2em;
       .info-section{
           display: flex;
           flex-direction: row;
           .data {
               padding: 0 2em;
               margin-top: -0.25em;

               &:not(.last){
                   h3 {
                    color: grey;
                   }
               }

               &.last {
                   margin-left: 1.5em;
               }
           }
           .data-button{
                color: $blue;
                border: 1px solid $blue;
                border-radius: 0.25em;
                margin-left: auto;
                padding: 0 0.5em;
           }
           &.map{
               margin-top: 0.5em;
               display: flex;
               flex-direction: row;
               justify-content: center;
           }
       }
    }
}
