.busy {
    color: $blue;
}

.content-container {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.tab {
    display: flex;
    flex-direction: row;
    background-color: #2e2e2e;
    color: #c7c8c8;
    width: 100%;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5em 1em;
        
        svg {
            padding-right: 0.5em;
        }
    }
}

.left-panel {
    flex: 2;
    padding: 1em; 
    color: $grey;
    background-color: $dark-background;

    &.meeting-details {
        .entry {
            
            &:not(:first-of-type){
                margin-top: 1em;
            }

            .user {
                color: white; 

                svg {
                    color: $blue;
                }

                div {
                    border-bottom: none;
                }
            }
            
            div{
                display: flex;
                flex-direction: row;

                div {
                    width: 100%;
                    padding-bottom: 0.5em;
                    border-bottom: 1px solid $grey;
                }

                svg {
                    padding-right: 1em;
                }
            }
        }
    }

    &.building-view {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &:not(.floor-view){
            justify-content: space-between;
        }

        #floor-name {
            height:2em;
        }

        .floor-display {
            display: flex;
            flex-direction:column-reverse;
            align-items: center;
            width: 100%
        }

        h1, h2 {
            color: white,
        }

        .plan {
            width: 50px;
            height: 1px;
            &.column {
                display: flex;
                flex-direction: column;
                width: 100%;

                &.color {
                    background-color: white
                }

                &.no-color {
                    background-color: blue;
                }
            }

            &.row {
                display: flex;
                flex-direction: row;
            }
        }
    }

    &.floor-view {
        justify-content: space-between;
        .title {
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }

        rect {

            &.blank {
                fill: white;
            }

            &.free {
                fill: green;
                &:hover {
                    fill: $blue;
                    cursor: pointer;
                }
            }

            &.booked {
                fill: #333333;
            }
        }

        h2 {
            height: 2em;
        }
    }
}

.right-panel {
    flex: 1;
    background-color: #333333;
    color: white;

    .content {
        display: flex;
        flex-direction: column;
        padding: 1em;

        select {
            margin-bottom: 1em;
        }

        .row {
            margin-bottom: 1em;

            &:first-of-type {
                justify-content: space-between;
            }

            &.double {
                width: 100%;

                div {
                    width: 30%;

                    &:first-of-type {
                        margin-right: 1em;
                    }

                    &:first-child {
                        margin-bottom: 1em;
                    }

                    select {
                        width: 100%;
                    }
                }
            }
        }


    }

    .tab {
        color: $grey;
        background-color: $grey-background;
        div {
            flex: 1;
            padding: 1em;
            font-weight: bold;

            &.selected {
                border-bottom: 4px solid $blue;
            }
        }
    }
}

.floor {
    height: 3.5em;
    width: 50%;
    border: 1px solid $blue;
    margin: -0.5em 0.5em;
    transform: skew(20deg);
    background-color: white;

    &:last-of-type {
        margin-top: 10px;
    }

    &:first-of-type {
        margin-bottom: 10px;
    }

    &:hover {
        background-color: $blue;
        cursor: pointer;
    }
}